# compiled output
dist/
tmp/
out-tsc/

# dependencies
node_modules
node_modules.*/
package-lock.json
yarn.lock

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# System Files
.DS_Store
Thumbs.db